services:
  db:
    image: postgres:15
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  mail:
    build:
      context: ./mail
    container_name: mail
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      MAIL_DOMAIN: "gmail.com"
      RELAY_HOST: "smtp.gmail.com"
      RELAY_PORT: "587"
      RELAY_USER: "arthuralternance.pro@gmail.com"
      RELAY_PASS: "sfaj vcqj pxkh wmzs"

    ports:
      - "25:25" 

volumes:
  db_data:
